<header id="menubar">
  <nav id="row-nav">
    <ul class="nav-list pull-left">
      <li>
          <a class="navbar-logo-img" href="/">
            <img alt="Catapult Learning" src="/assets/images/logo.png">
          </a>
      </li>
      <!-- li= link_to image_tag('logo.png', alt: 'Catapult Learning'), root_url, class: 'navbar-logo-img' -->
      <li class="divider">
        <span class="split">
        </span>
      </li>
      <li> Lesson Hub</li>
    </ul>
    <ul class="nav-list pull-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button">
          Mary Smith<span class="caret"> </span>
        </a>
        <ul aria-labelledby="drop1" class="dropdown-menu" role="menu">
          <li role="presentation">
            <a href="#" role="menuitem" tabindex="-1">
              Analytics
            </a>
          </li>
          <li role="presentation">
            <a href="#" role="menuitem" tabindex="-1">
              Content management
            </a>
          </li>
          <li role="presentation">
            <a href="#" role="menuitem" tabindex="-1">
              User management
            </a>
          </li>
          <li class="divider" role="presentation">
          </li>
          <li role="presentation">
            <a href="#" role="menuitem" tabindex="-1">
              Logout
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- subheader stuff -->
  </nav>
</header>
